<form [formGroup]="formulario" (ngSubmit)="onSave()">
  <label for="nombre">Nombre</label>
  <input type="text" formControlName="nombre" />
  <br />
  <label for="apellido">Apellido</label>
  <input type="text" formControlName="apellido" />
  <br />
  <label for="telefono">Teléfono</label>
  <input type="text" formControlName="telefono" />

  <button type="submit">Agregar</button>
</form>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    @for (empleado of allEmpleados; track $index) {
    <tr>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.telefono }}</td>
    </tr>
    }
  </tbody>
</table>

<router-outlet />
